GatewayEjb/ejbModule/META-INF/wsdls/upload.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch0="http://audiomabox.pervoice.it/services/Upload/1.0"
	xmlns:sch1="http://audiomabox.pervoice.it/CommonTypes/1.0"
	xmlns:sch2="http://audiomabox.pervoice.it/services/Common/1.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.pervoice.it/audiomabox/service/Upload/1.0/"
	targetNamespace="http://ws.pervoice.it/audiomabox/service/Upload/1.0/">
	<wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:common="http://audiomabox.pervoice.it/services/Common/1.0"
			xmlns:ct="http://audiomabox.pervoice.it/CommonTypes/1.0"
			xmlns:upl="http://audiomabox.pervoice.it/services/Upload/1.0"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://audiomabox.pervoice.it/services/Upload/1.0">
			<import
				namespace="http://audiomabox.pervoice.it/services/Common/1.0"
				xmlns="http://www.w3.org/2001/XMLSchema" />
			<import
				namespace="http://audiomabox.pervoice.it/CommonTypes/1.0"
				xmlns="http://www.w3.org/2001/XMLSchema" />
			<element name="UploadRequest"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<complexType xmlns="http://www.w3.org/2001/XMLSchema">
					<complexContent
						xmlns="http://www.w3.org/2001/XMLSchema">
						<extension base="common:baseRequestType"
							xmlns="http://www.w3.org/2001/XMLSchema">
							<sequence xmlns="http://www.w3.org/2001/XMLSchema">
								<element minOccurs="0" name="customerProvidedId"
									type="string" xmlns="http://www.w3.org/2001/XMLSchema" />
								<element name="uploadType" type="ct:uploadTypeEnum"
									xmlns="http://www.w3.org/2001/XMLSchema" />
								<element minOccurs="0" name="manualRevision"
									type="boolean" xmlns="http://www.w3.org/2001/XMLSchema" />
								<choice xmlns="http://www.w3.org/2001/XMLSchema">
									<element name="remoteFile"
										xmlns="http://www.w3.org/2001/XMLSchema">
										<complexType
											xmlns="http://www.w3.org/2001/XMLSchema">
											<sequence xmlns="http://www.w3.org/2001/XMLSchema">
												<element name="file" type="ct:fileType"
													xmlns="http://www.w3.org/2001/XMLSchema" />
											</sequence>
										</complexType>
									</element>
									<element name="localFile"
										xmlns="http://www.w3.org/2001/XMLSchema">
										<complexType
											xmlns="http://www.w3.org/2001/XMLSchema">
											<sequence xmlns="http://www.w3.org/2001/XMLSchema">
												<element name="filePath" type="string"
													xmlns="http://www.w3.org/2001/XMLSchema" />
											</sequence>
										</complexType>
									</element>
									<element name="localFolder"
										xmlns="http://www.w3.org/2001/XMLSchema">
										<complexType
											xmlns="http://www.w3.org/2001/XMLSchema">
											<sequence xmlns="http://www.w3.org/2001/XMLSchema">
												<element name="folderPath" type="string"
													xmlns="http://www.w3.org/2001/XMLSchema" />
											</sequence>
										</complexType>
									</element>
									<element minOccurs="0" name="customXml"
										type="upl:anyXmlType" xmlns="http://www.w3.org/2001/XMLSchema" />
								</choice>
								<element minOccurs="0" name="customization"
									type="ct:fileType" xmlns="http://www.w3.org/2001/XMLSchema" />
								<choice xmlns="http://www.w3.org/2001/XMLSchema">
									<sequence xmlns="http://www.w3.org/2001/XMLSchema">
										<element name="languageModel"
											type="common:languageModelType"
											xmlns="http://www.w3.org/2001/XMLSchema" />
										<element name="acousticModel"
											type="common:acousticModelType"
											xmlns="http://www.w3.org/2001/XMLSchema" />
									</sequence>
									<element name="domainId" type="string"
										xmlns="http://www.w3.org/2001/XMLSchema" />
								</choice>
								<element maxOccurs="2" minOccurs="0" name="topics"
									xmlns="http://www.w3.org/2001/XMLSchema">
									<complexType
										xmlns="http://www.w3.org/2001/XMLSchema">
										<complexContent
											xmlns="http://www.w3.org/2001/XMLSchema">
											<extension base="common:domainElementType"
												xmlns="http://www.w3.org/2001/XMLSchema">
												<sequence xmlns="http://www.w3.org/2001/XMLSchema">
													<element minOccurs="0" name="id" type="long"
														xmlns="http://www.w3.org/2001/XMLSchema" />
													<element name="code" type="string"
														xmlns="http://www.w3.org/2001/XMLSchema" />
													<element minOccurs="0" name="description"
														type="string" xmlns="http://www.w3.org/2001/XMLSchema" />
													<element name="type" type="string"
														xmlns="http://www.w3.org/2001/XMLSchema" />
													<element minOccurs="0" name="lang" type="string"
														xmlns="http://www.w3.org/2001/XMLSchema" />
												</sequence>
											</extension>
										</complexContent>
									</complexType>
								</element>
								<element name="punctuationEnabled" type="boolean"
									xmlns="http://www.w3.org/2001/XMLSchema" />
								<element minOccurs="0" name="priority"
									type="common:priorityType"
									xmlns="http://www.w3.org/2001/XMLSchema" />
								<element minOccurs="0" name="slots" type="int"
									xmlns="http://www.w3.org/2001/XMLSchema" />
								<element minOccurs="0" name="step"
									type="ct:stepTypeEnum" xmlns="http://www.w3.org/2001/XMLSchema" />
								<element maxOccurs="unbounded" minOccurs="0"
									name="outputFormats" type="upl:outputFormatType"
									xmlns="http://www.w3.org/2001/XMLSchema" />
							</sequence>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="UploadResponse"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<complexType xmlns="http://www.w3.org/2001/XMLSchema">
					<sequence xmlns="http://www.w3.org/2001/XMLSchema">
						<element maxOccurs="unbounded" name="jobElement"
							xmlns="http://www.w3.org/2001/XMLSchema">
							<complexType xmlns="http://www.w3.org/2001/XMLSchema">
								<sequence xmlns="http://www.w3.org/2001/XMLSchema">
									<element name="jobId" type="long"
										xmlns="http://www.w3.org/2001/XMLSchema" />
									<element minOccurs="0" name="fileName" type="string"
										xmlns="http://www.w3.org/2001/XMLSchema" />
									<element name="forecastDate" type="dateTime"
										xmlns="http://www.w3.org/2001/XMLSchema" />
									<element name="ticket" type="string"
										xmlns="http://www.w3.org/2001/XMLSchema" />
								</sequence>
							</complexType>
						</element>
						<element name="uploadType" type="string"
							xmlns="http://www.w3.org/2001/XMLSchema" />
					</sequence>
				</complexType>
			</element>
			<element name="UploadFault" type="common:faultType"
				xmlns="http://www.w3.org/2001/XMLSchema" />
			<simpleType name="outputFormatType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="ass"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="srt"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="pvt"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="txt"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<complexType name="anyXmlType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<any namespace="##any" processContents="skip"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:common="http://portal.pervoice.it/services/Common/1.0"
			xmlns:tns="http://audiomabox.pervoice.it/CommonTypes/1.0"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://audiomabox.pervoice.it/CommonTypes/1.0">
			<complexType name="baseType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="id" type="long"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="active" type="boolean"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
			<complexType name="fileType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="name" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="data" type="base64Binary"
						xmime:expectedContentTypes="application/octet-stream"
						xmlns="http://www.w3.org/2001/XMLSchema"
						xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
					<element minOccurs="0" name="mimetype" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element minOccurs="0" name="md5" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
			<complexType name="mimeTypeType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="id" type="long"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="code" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="type" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="extension" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="default" type="boolean"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
			<simpleType name="timeType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<pattern value="\d+ms"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<pattern value="\d+(\.\d+)?s"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<simpleType name="stepTypeEnum"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="ONE_STEP"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="TWO_STEPS"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<simpleType name="statusTypeEnum"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="RECEIVED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="QUEUED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PROCESSING"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="COMPLETE"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="LOAD_ERROR"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PROCESSING_ERROR"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="QUOTA_EXCEEDED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="TOO_LONG_ERROR"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<simpleType name="outputType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="PVT"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="TRS"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PDF"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="RTF"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="HTML"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="DOC+PVML"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="TXT"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="ZIP"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="SRT"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<simpleType name="subtitleType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="ASS"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="TTXML"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="SAMI"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<complexType name="dateTimeInterval"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="start" type="dateTime"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="end" type="dateTime"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
			<simpleType name="guidType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<maxLength value="38"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<simpleType name="uploadTypeEnum"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="REMOTE_FILE"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="LOCAL_FILE"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="LOCAL_FOLDER"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="CUSTOMXML"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<simpleType name="serverTypeEnum"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="BM_FIXED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="BM_PERC"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="STANDARD"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:common="http://audiomabox.pervoice.it/services/Common/1.0"
			xmlns:ct="http://audiomabox.pervoice.it/CommonTypes/1.0"
			xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://audiomabox.pervoice.it/services/Common/1.0">
			<import
				namespace="http://audiomabox.pervoice.it/CommonTypes/1.0"
				xmlns="http://www.w3.org/2001/XMLSchema" />
			<complexType name="modelType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="id" type="long"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="description" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="code" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="default" type="boolean"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element minOccurs="0" name="lang" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element minOccurs="0" name="audiomaCode" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<annotation xmlns="http://www.w3.org/2001/XMLSchema">
							<documentation
								xmlns="http://www.w3.org/2001/XMLSchema">Inserted for backward compatibility</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="languageModelType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<complexContent
					xmlns="http://www.w3.org/2001/XMLSchema">
					<extension base="common:modelType"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<sequence xmlns="http://www.w3.org/2001/XMLSchema">
							<element maxOccurs="unbounded" name="acousticModel"
								type="common:acousticModelType"
								xmlns="http://www.w3.org/2001/XMLSchema" />
							<element minOccurs="0" name="punctuationType"
								type="string" xmlns="http://www.w3.org/2001/XMLSchema" />
							<element name="customization" type="boolean"
								xmlns="http://www.w3.org/2001/XMLSchema" />
							<element maxOccurs="unbounded" minOccurs="0" name="scope"
								type="string" xmlns="http://www.w3.org/2001/XMLSchema" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="acousticModelType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<complexContent
					xmlns="http://www.w3.org/2001/XMLSchema">
					<extension base="common:modelType"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</complexContent>
			</complexType>
			<complexType name="domainElementType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="id" type="long"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="code" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="description" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="type" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="lang" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
			<complexType name="priorityType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="code" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="default" type="boolean"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="audiomaCode" type="int"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<annotation xmlns="http://www.w3.org/2001/XMLSchema">
							<documentation
								xmlns="http://www.w3.org/2001/XMLSchema">Inserted for backward compatibility</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="baseRequestType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="clientInfo" type="common:clientInfoType"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
			<complexType name="clientInfoType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="productName" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<annotation xmlns="http://www.w3.org/2001/XMLSchema">
							<documentation
								xmlns="http://www.w3.org/2001/XMLSchema">Name of product that interfaces with FlyScribe's
								service as previously communicated to PerVoice.
							</documentation>
						</annotation>
					</element>
					<element name="productVersion" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<annotation xmlns="http://www.w3.org/2001/XMLSchema">
							<documentation
								xmlns="http://www.w3.org/2001/XMLSchema">Version of the product that interfaces with
								FlyScribe's service as previously communicated to PerVoice.
							</documentation>
						</annotation>
					</element>
					<element name="registrationCode" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<annotation xmlns="http://www.w3.org/2001/XMLSchema">
							<documentation
								xmlns="http://www.w3.org/2001/XMLSchema">Registration Code provided by PerVoice to activate
								the product to interface with FlyScribe's service.
							</documentation>
						</annotation>
					</element>
					<element name="hostname" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema">
						<annotation xmlns="http://www.w3.org/2001/XMLSchema">
							<documentation
								xmlns="http://www.w3.org/2001/XMLSchema">Name of the system that is running the product.
							</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<simpleType name="enumStatusType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<restriction base="string"
					xmlns="http://www.w3.org/2001/XMLSchema">
					<enumeration value="RECEIVED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="QUEUED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PROCESSING"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="COMPLETED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="FAILED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="CANCELLED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="UNKNOWN"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PREPROCESSING"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="FIRSTPASS"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="NORMALIZATION"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="SECONDPASS"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PUNCTUATING"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="FINALIZING"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="POSTPROCESSING"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="SUBMITERROR"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="QUOTAERROR"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="PROCESSINGERROR"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<enumeration value="DEFERRED"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</restriction>
			</simpleType>
			<complexType name="faultType"
				xmlns="http://www.w3.org/2001/XMLSchema">
				<sequence xmlns="http://www.w3.org/2001/XMLSchema">
					<element name="ErrorCode" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
					<element name="ErrorMessage" type="string"
						xmlns="http://www.w3.org/2001/XMLSchema" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="UploadFault"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="sch0:UploadFault" name="UploadFault"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="UploadResponse"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="sch0:UploadResponse"
			name="UploadResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="UploadRequest"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="sch0:UploadRequest" name="UploadRequest"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UploadWS"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:operation name="Upload"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<wsdl:input message="tns:UploadRequest"
				name="UploadRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:input>
			<wsdl:output message="tns:UploadResponse"
				name="UploadResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:output>
			<wsdl:fault message="tns:UploadFault" name="UploadFault"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UploadWSSoap11" type="tns:UploadWS"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="Upload"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:operation
				soapAction="http://abox/upload/Request"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input name="UploadRequest"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output name="UploadResponse"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
			<wsdl:fault name="UploadFault"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:fault name="UploadFault" use="literal"
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UploadWSService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:port binding="tns:UploadWSSoap11"
			name="UploadWSSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:address
				location="http://192.168.47.22:8080/audiomabox-ws/uploadService/"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>